player-connection-mode=Connect
player-connection-guid=763043809
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-wait-timeout=-1
player-connection-ip=192.168.178.199
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=23b0473a05f843d3a6879e1fd9512949
